<div class="d-flex flex-column justify-content-start align-items-center pt-5" style="min-height: 200vh;" >


    <!--Hero Banner-->

    <div class="d-flex flex-row justify-content-center align-items-center my-5 px-4 w-100">

        <div class="d-flex flex-column justify-content-center align-items-start w-100 my-5 heroBanner p-5 rounded-5 shadow-lg" style="max-width: 1500px;">
    
            <!-- <h1 class="bigTitle Carter text-white mb-4 mt-5">Lil Buggers</h1> -->

            <div class="mb-5" style="max-width: 500px;">
    
                <img class="img-fluid mb-5" src="assets/Branding/lilbuggersLOGO.png" alt="">
        
            </div>

            <h4 class="bigTitle text-white mb-5 " style="max-width:400px; margin-top: -200px; margin-left: 195px;">Catalogue</h4>
    
        </div>
    
    </div>


    <!--inventaire-->

    <div class="row w-100 mx-0 px-4" style="max-width: 1500px;">
    
        <h1 class="title px-0 LBBlue Carter">Nos produits</h1>

        <hr class="w-100 LBBlueBG my-0 mb-4 " style="height: 3px; opacity: 1; border: none;">

        <div class="col px-2 py-4" style="max-width: 250px;">
        
            <div class="accordion mb-3" id="accordionExample">

            
                
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collections" aria-expanded="true" aria-controls="collapseOne">
                      Collections
                    </button>
                  </h2>
                  <div id="collections" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body">

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Christmas" id="Christmas" (click)="toggleCollection('Christmas')">
                            <label class="form-check-label" for="Christmas">
                                Christmas
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Cosmos" id="Cosmos" (click)="toggleCollection('Cosmos')">
                            <label class="form-check-label" for="Cosmos">
                                Cosmos
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Denim" id="Denim" (click)="toggleCollection('Denim')">
                            <label class="form-check-label" for="Denim">
                                Denim
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Dinosaur" id="Dinosaur" (click)="toggleCollection('Dinosaur')">
                            <label class="form-check-label" for="Dinosaur">
                                Dinosaur
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Fall" id="Fall" (click)="toggleCollection('Fall')">
                            <label class="form-check-label" for="Fall">
                                Fall
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Flowers" id="Flowers" (click)="toggleCollection('Flowers')">
                            <label class="form-check-label" for="Flowers">
                                Flowers
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Summer" id="Summer" (click)="toggleCollection('Summer')">
                            <label class="form-check-label" for="Summer">
                                Summer
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Matte" id="Matte" (click)="toggleCollection('Matte')">
                            <label class="form-check-label" for="Matte">
                                Matte
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Ocean" id="Ocean" (click)="toggleCollection('Ocean')">
                            <label class="form-check-label" for="Ocean">
                                Ocean
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Polka Dots" id="Polka Dots" (click)="toggleCollection('Polka Dots')">
                            <label class="form-check-label" for="Polka Dots">
                                Polka Dots
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Premium" id="Premium" (click)="toggleCollection('Premium')">
                            <label class="form-check-label" for="Premium">
                                Premium
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Prestige" id="Prestige" (click)="toggleCollection('Prestige')">
                            <label class="form-check-label" for="Prestige">
                                Prestige
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Silk" id="Silk" (click)="toggleCollection('Silk')">
                            <label class="form-check-label" for="Silk">
                                Silk
                            </label>
                        </div>

                       

                      
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sizes" aria-expanded="true" aria-controls="collapseOne">
                        Tailles
                      </button>
                    </h2>
                    <div id="sizes" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                      <div class="accordion-body">
  
                          <div class="form-check my-2">
                              <input class="form-check-input" type="checkbox" value="" id="xs" (click)="toggleSize('xs')">
                              <label class="form-check-label" for="xs">
                                  Très petit
                              </label>
                          </div>
  
                          <div class="form-check my-2">
                              <input class="form-check-input" type="checkbox" value="" id="sm" (click)="toggleSize('sm')">
                              <label class="form-check-label" for="sm">
                                  Petit
                              </label>
                          </div>
  
                          <div class="form-check my-2">
                              <input class="form-check-input" type="checkbox" value="" id="md" (click)="toggleSize('md')">
                              <label class="form-check-label" for="md">
                                  Moyen
                              </label>
                          </div>

                          <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="" id="lg" (click)="toggleSize('lg')">
                            <label class="form-check-label" for="lg">
                                Grand
                            </label>
                        </div>

                    
                        
                      </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#colors" aria-expanded="true" aria-controls="collapseOne">
                        Couleurs
                      </button>
                    </h2>
                    <div id="colors" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                      <div class="accordion-body">

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Blanc" id="Blanc" (click)="toggleColor('blanc')">
                            <label class="form-check-label" for="Blanc">
                              Blanc
                            </label>
                         </div>
  
                        <div class="form-check my-2">
                              <input class="form-check-input" type="checkbox" value="Bleu" id="Bleu" (click)="toggleColor('bleu')">
                              <label class="form-check-label" for="Bleu">
                                Bleu
                              </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Brun" id="Brun" (click)="toggleColor('brun')">
                            <label class="form-check-label" for="Brun">
                                Brun
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Gris" id="Gris" (click)="toggleColor('gris')">
                            <label class="form-check-label" for="Gris">
                                Gris
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Jaune" id="Jaune" (click)="toggleColor('jaune')">
                            <label class="form-check-label" for="Jaune">
                                Jaune
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Noir" id="Noir" (click)="toggleColor('noir')">
                            <label class="form-check-label" for="Noir">
                                Noir
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Orange" id="Orange" (click)="toggleColor('orange')">
                            <label class="form-check-label" for="Orange">
                                Orange
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Rose" id="Rose" (click)="toggleColor('rose')">
                            <label class="form-check-label" for="Rose">
                                Rose
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Rouge" id="Rouge" (click)="toggleColor('rouge')">
                            <label class="form-check-label" for="Rouge">
                                Rouge
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Turquoise" id="Turquoise" (click)="toggleColor('turquoise')">
                            <label class="form-check-label" for="Turquoise">
                                Turquoise
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Vert" id="Vert" (click)="toggleColor('vert')">
                            <label class="form-check-label" for="Vert">
                                Vert
                            </label>
                        </div>

                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" value="Violet" id="Violet" (click)="toggleColor('violet')">
                            <label class="form-check-label" for="Violet">
                                Violet
                            </label>
                        </div>
                          
  
                          
  
  
                        
                      </div>
                    </div>
                </div>

                
            </div>

            <button class="btn btn-primary btn-lg w-100 " type="button" [disabled]="!filterIsDirty()" (click)="clearFilters()" > Effacer le filtre <fa-icon [icon]="faTrash" class="ms-2"  style="color: white; font-size: 1.2rem;" ></fa-icon></button>



        </div>


        <div class="col p-0">

            <div class="row w-100 mx-0">

                <div class="col-12 col-lg-6 col-xl-4 p-4 d-flex flex-row justify-content-center align-items-center" *ngFor="let product of catalog">

                    <div class="d-flex flex-column justify-content-between align-items-center w-100 border border-5 p-0 z-depth-2 shadow rounded-bottom productTile h-100" style="max-width:300px" (click)="extendProduct(product)">
    
                        <img class="img-fluid my-4 productImage" src="{{product.product_image}}" alt="">
    
                        <div class="d-flex flex-row justify-content-between align-items-center w-100 LBBlueBG p-3 rounded-bottom">
    
                            <div class="d-flex flex-column justify-content-center align-items-start">
    
                                <h4 class="mediumText text-white mb-3">{{[product.name]}}</h4>
    
                                <h4 class="text text-white mb-3">{{[product.sizes]}}</h4>
    
    
                            </div>
    
                            <div class="d-flex flex-column justify-content-center align-items-end text-end ">
    
                                <h4 class="mediumText Carter text-white mb-3">QTY: {{[product.qty]}}</h4>
    
                                <h4 class="text text-white mb-3">{{[product.price]}} $</h4>
    
    
                            </div>
    
                            
    
    
    
                        </div>
    
    
    
    
    
                    </div>
    
                </div>


            </div>


        </div>

    
    </div>


    



</div>




<!-- Product Modal -->

<div class="productModal d-flex flex-row justify-content-center align-items-center position-fixed h-100 w-100 top-0" *ngIf="product_modal_open" >


    <div class="d-flex flex-row justify-content-center align-items-center p-5 rounded w-100" style="background-color: white; max-width: 1000px;" *ngIf="product_modal_status == 'selectQuantity'">


        <div  class="d-flex flex-column justify-content-between align-items-center w-100 border border-5 p-0 z-depth-2 shadow rounded-bottom w-100" style="max-width:300px" *ngIf="extendedProduct as product">
    
            <img class="img-fluid my-4 productImage" src="{{product.product_image}}" alt="">

            <div class="d-flex flex-row justify-content-between align-items-center w-100 LBBlueBG p-3 rounded-bottom">

                <div class="d-flex flex-column justify-content-center align-items-start">

                    <h4 class="mediumText text-white mb-3">{{[product.name]}}</h4>

                    <h4 class="text text-white mb-3">{{[product.sizes]}}</h4>


                </div>

                <div class="d-flex flex-column justify-content-center align-items-end text-end ">

                    <h4 class="mediumText Carter text-white mb-3">QTY: {{[product.qty]}}</h4>

                    <h4 class="text text-white mb-3">{{[product.price]}} $</h4>


                </div>

                



            </div>

        </div>

        <div class="d-flex flex-column justify-content-center align-items-center w-100 p-5" >


            <div  class="d-flex flex-row justify-content-center align-items-center mb-5">


                <button class="btn btn-primary btn-lg w-100 mx-2" [disabled]="productQuantity == 1" (click)="decrementProductQuantity()" type="button"><fa-icon [icon]="faMinus"  style="color: white; font-size: 1.2rem;" ></fa-icon></button>

                <h2 class="Carter bigTitle mx-5 text-center" style="min-width: 100px;">{{productQuantity}}</h2>

                <button class="btn btn-primary btn-lg w-100 mx-2" (click)="incrementProductQuantity()"  type="button"><fa-icon [icon]="faPlus"   style="color: white; font-size: 1.2rem;" ></fa-icon></button>


            </div>

            
            <div class="d-flex flex-row w-100">

                <button class="btn btn-danger btn-lg w-100  mx-2" type="button" (click)="toggleProductModal()">Annuler <fa-icon [icon]="faBan" class="ms-2"  style="color: white; font-size: 1.2rem;" ></fa-icon></button>

                <button class="btn btn-success btn-lg w-100  mx-2" type="button" (click)="addToCart(extendedProduct)" >Ajouter au panier <fa-icon [icon]="faShoppingCart" class="ms-2"  style="color: white; font-size: 1.2rem;" ></fa-icon></button>

                

            </div>

            



        </div>




    </div>



    <div class="d-flex flex-column justify-content-center align-items-center p-5 rounded w-100" style="background-color: white; max-width: 1000px;" *ngIf="product_modal_status == 'addedToCart'">



        <h1 class="smallTitle text-center Carter mb-4" style="max-width: 500px;">Le produit a été ajouté à votre panier!</h1>

        <button class="btn btn-success btn-lg w-100  mx-2" type="button" style="max-width: 400px;" (click)="toggleProductModal()" > Fermer <fa-icon [icon]="faCheck" class="ms-2"  style="color: white; font-size: 1.2rem;" ></fa-icon></button>
        




    </div>






</div>